nav {
  background-color: #16181c;
  height: 53px;
  font-size: calc(10px + 2vmin);
	margin:0;
	padding:5px;
}

nav ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
}

nav li {
  display: inline-block;
  height: 44px;
  padding: 5px 0px;
  margin: 0;
  margin-right: 20px;
}

nav img.App-home {
  vertical-align: middle;
  height: 34px;
  padding: 0;
  margin: 0;
}

nav img.App-home:hover {
  filter: hue-rotate(90deg);
}

nav li:last-child {
  margin-right:0px;
}

nav .nav-right {
  float: right;
  line-height: 43px;
}

nav a {
  text-decoration: none;
}
