body {
  background-color: #282c34;
  color: white;
  min-width:1060px;
}

ul {
  float:left;
  padding: 0;
}

ul li {
  list-style: none;
}

label {
  display: inline-block;
  width: 200px;
  text-align: left;
}

input {
  width: 200px;
  text-align: right;
}

.wrapper {
  width: 860px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  overflow: hidden;
}

.wrapper.hero {
  padding-top: 100;
}

.wrapper.no-pad {
  padding-left: 0px;
  padding-right: 0px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

.App-link:hover {
  /*color: #e38710;*/
  filter: hue-rotate(90deg);
}

table {
  border-spacing: 0px
}

.financial label {
  text-align: right;
  margin-right: 10px;
}

.financial input {
  background-color: transparent;
  border: none;
}

.editable td {
  border: 1px dashed yellow;
  line-height: 17px;
}

.positive {
  color: #009900;
}

.negative {
  color: #990000;
}

input:focus {
  outline: none;
}

.income th {
  background-color: #f6b26b;
}

.income td {
  background-color: #fce5cd;
}

.fica th {
  background-color: #93c47d;
}

.fica td {
  background-color: #b6d7a8;
}

.federal th {
  background-color: #e06666;
}

.federal td {
  background-color: #ea9999;
}

.state th {
  background-color: #6d9eeb;
}

.state td {
  background-color: #a4c2f4;
}

.local th {
  background-color: #6fa8dc;
}

.local td {
  background-color: #9fc5e8;
}

.total-tax th {
  background-color: #8e7cc3;
}

.total-tax td {
  background-color: #b4a7d6;
}
