//$body_color: #ddb8ba;
$body_color: #f6f6eb;
$text_color: invert($body_color);
$link_color: adjust_hue($text_color, 90%);

$income_color: #f6b26b;
$health_color: #93c47d;
$fica_color: #93c47d;
$emp_ret_color: #ffd966;
$federal_color: #e06666;
$state_color: #6d9eeb;
$local_color: #6fa8dc;
$total_color: #8e7cc3;
