@import './colors';

footer {
  font-size: 18px;
	margin:0;
	padding:5px;
  background-color: darken($body_color, 5%);

  ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
  }

  .no-pad {
    background-color: darken($body_color, 5%);
  }
}
